
<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> CRUD Operations for Django</title>
    <link rel="stylesheet" href="{% static 'registration/css/bootstrap.css' %}">
</head>
<body>


<div class="container mt-5">

<h2 class="text-center alert alert-warning"> Function Based View ModelForm for CRUDProject  </h2>

{% block content %} {% endblock %}

</div>

<script src="{% static 'registration/js/jquery.js' %}"></script>
<script src="{% static 'regitration/js/popper.js' %}"></script>
<script src="{% static 'registration/js/bootstrap.js '%}"></script>

</div>
</body>
</html>

















